.DS_Store

UserInterfaceState.xcuserstate

Breakpoints_v2.xcbkptlist

/Tedometer/Ted-O-Meter.xcodeproj/project.xcworkspace/xcuserdata/nathan.xcuserdatad/UserInterfaceState.xcuserstate

/Tedometer/Resources/Data/.DS_Store
